*~
aclocal.m4
autom4te.cache
autoscan-2.69.log
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
core*
depcomp
expr2cf.kdev4
expr2cf-*.tar.xz
install-sh
.kdev4/
*.la
libtool
*.lo
ltmain.sh
m4/*.m4
Makefile
Makefile.in
missing
src/cf2expr
src/.deps/
src/expr2cf
src/expr2rd
src/exprpow
src/exprsqrt
src/.kdev_include_paths
src/.libs
src/Makefile
src/*.o
src/rd2frac
stamp-h1
