Makefile.in
aclocal.m4
autom4te.cache
autoscan-2.69.log
compile
config.guess
config.h.in
*~
config.sub
configure
configure.scan
depcomp
install-sh
ltmain.sh
m4/*.m4
missing
Makefile
config.cache
config.h
config.log
config.status
expr2cf-*.tar.xz
libtool
src/.deps/
src/Makefile
src/expr2cf
src/*.o
stamp-h1
core*
src/cf2expr

